<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Virtpals!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <header><h1><em>Virtpals!</em></h1></header>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Virtpals</strong></small>
      </footer>
    </div>
  </body>
</html>
